<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)" class="form reset-password-form-container">
        <mat-form-field floatLabel="never" class="form-element">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="resetPasswordFormErrors.password.required">
                Password is required
            </mat-error>
        </mat-form-field>
        
        <mat-form-field floatLabel="never" class="form-element">
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmpassword">
            <mat-error *ngIf="resetPasswordFormErrors.confirmpassword.required">
               Confirm Password is required
            </mat-error>
            <mat-error *ngIf="!resetPasswordFormErrors.confirmpassword.required && resetPasswordFormErrors.confirmpassword.passwordsNotMatch">
                Password is mis-match
            </mat-error>
        </mat-form-field>
        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit
            </button>
        </div>
        <!-- <div class="register">
            <span class="text">Back to Login</span>&nbsp;
            <a class="link" [routerLink]="'/signin'">Login</a>
        </div> -->

    </form>
</div>