<div class="container">
  <form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit(signUpFormGroup)" class="form signUp-form-container">
    <div *ngIf="error" class="toast toast-danger">
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    </div>
    <mat-form-field floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="signUpFormErrors.name.required">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="never" class="form-element">
      <input type="text" matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="signUpFormErrors.email.required">
        Email is required
      </mat-error>
      <mat-error *ngIf="!signUpFormErrors.email.required && signUpFormErrors.email.email">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="never" class="form-element">
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="signUpFormErrors.password.required">
        Password is required
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button submit-btn"
        [disabled]="!signUpFormGroup.valid">Submit
      </button>
    </div>
    <div class="register">
      <span class="text">Already have an account?</span>&nbsp;
      <a class="link" [routerLink]="'/signin'">Login</a>
    </div>

  </form>
</div>