<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)" class="form forget-form-container">
        <div *ngIf="error" class="toast toast-danger">
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        </div>
        <mat-form-field floatLabel="never" class="form-element">
            <input type="text" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                Email is required
            </mat-error>
            <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button submit-btn"
                [disabled]="!formGroup.valid">Submit
            </button>
        </div>
        <div class="register">
            <span class="text">Back to Login</span>&nbsp;
            <a class="link" [routerLink]="'/signin'">Login</a>
        </div>
    </form>
</div>